src/pug/pages/search.pug
extends ../layout/layout2.pug

block content
    section.page
        .container-fluid
            .row
                .col-xl-8.offset-xl-2
                    .page-header
                        h1.page-title Search results
                    |
                    |
                    .search-form.v2
                        form(action="#" method="GET")
                            .form-group
                                label(for="search-field") Search
                                input(type="text" id="search-field" class="form-control" value="Service" autocomplete="off")
                            button(type="submit" class="submit-search")
                                ="\n"
                                img(src=require("../../images/icons/icon-search.svg") alt="Icon search")
                            .search-count
                                p 12 items found
                    // Search form
                    |
                    |
                    .search-results
                        .load-container
                            .search-result
                                p.label Service
                                ="\n"
                                a(href="service-inner.html" target="_blank" class="value") Bulud infrastrukturu
                            |
                            |
                            .search-result
                                p.label Blog
                                ="\n"
                                a(href="blog-inner.html" target="_blank" class="value") İT infrastrukturu yaratmaqda kömək
                            |
                            |
                            .search-result
                                p.label Page
                                ="\n"
                                a(href="partnership.html" target="_blank" class="value") Əməkdaşlıq
                            |
                            |
                            .search-result
                                p.label Page
                                ="\n"
                                a(href="contact.html" target="_blank" class="value") Əlaqə
                            |
                            |
                            .search-result
                                p.label Service
                                ="\n"
                                a(href="service-inner.html" target="_blank" class="value") Bulud infrastrukturu
                            |
                            |
                            .search-result
                                p.label Blog
                                ="\n"
                                a(href="blog-inner.html" target="_blank" class="value") İT infrastrukturu yaratmaqda kömək
                            |
                            |
                            .search-result
                                p.label Page
                                ="\n"
                                a(href="partnership.html" target="_blank" class="value") Əməkdaşlıq
                            |
                            |
                            .search-result
                                p.label Page
                                ="\n"
                                a(href="contact.html" target="_blank" class="value") Əlaqə
                            |
                            |
                            .search-result
                                p.label Service
                                ="\n"
                                a(href="service-inner.html" target="_blank" class="value") Bulud infrastrukturu
                            |
                            |
                            .search-result
                                p.label Blog
                                ="\n"
                                a(href="blog-inner.html" target="_blank" class="value") İT infrastrukturu yaratmaqda kömək
                        // Load container
                        |
                        |
                        .load-more
                            ="\n"
                            a(href="#" class="btn btn-primary") Load more results
                    // Search results
        // Container fluid
        |
        |
        include ../includes/have-question.pug
        |
        |
        include ../includes/azcloud-azintelecom.pug
    // Search page

dist/search.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>AZCLOUD rəsmi veb-səhifəsi</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
		<meta name="description" content="2020 AZCLOUD. Müəllif hüquqları qorunur">
		<link rel="preload" as="font" href="fonts/Montserrat-Regular.woff" type="font/woff" crossorigin="anonymous">
		<link rel="preload" as="font" href="fonts/Montserrat-Regular.woff2" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" as="font" href="fonts/Montserrat-Medium.woff" type="font/woff" crossorigin="anonymous">
		<link rel="preload" as="font" href="fonts/Montserrat-Medium.woff2" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" as="font" href="fonts/Montserrat-SemiBold.woff" type="font/woff" crossorigin="anonymous">
		<link rel="preload" as="font" href="fonts/Montserrat-SemiBold.woff2" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" as="font" href="fonts/Montserrat-Bold.woff" type="font/woff" crossorigin="anonymous">
		<link rel="preload" as="font" href="fonts/Montserrat-Bold.woff2" type="font/woff2" crossorigin="anonymous">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<header>
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<div class="left">
							<div class="logo">
								<a href="index.html">
									<svg width="184" height="41" viewBox="0 0 184 41" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0)">
											<path class="path" fill-rule="evenodd" clip-rule="evenodd" d="M37.077 0.947388L41.8771 5.50744V36.0336L37.0814 40.9471L28.8057 39.2475V2.6165L37.077 0.947388Z" fill="#000BAB"></path>
											<path class="path" fill-rule="evenodd" clip-rule="evenodd" d="M19.3123 4.53629L23.4295 8.24542V33.2995L19.3123 37.2967L13.1748 36.0356V5.77775L19.3123 4.53629Z" fill="#000BAB"></path>
											<path class="path" fill-rule="evenodd" clip-rule="evenodd" d="M4.21423 7.58588L7.80118 10.5619V30.9818L4.21423 34.1913L-0.356736 33.2509L-0.363281 8.51098L4.21423 7.58588Z" fill="#000BAB"></path>
											<path class="path" d="M74.5221 31.5142L66.0282 10.1125H64.3831L55.959 31.5142H60.1263L61.599 27.229H68.8362L70.3831 31.5142H74.5221ZM67.7431 24.3621H62.6682L65.2056 16.5685L67.7431 24.3621ZM89.7317 31.5098V28.1781H80.5636L89.4132 11.5961V10.383H75.6327V13.7125H84.3033L75.4843 30.2967V31.5098H89.7317ZM107.28 11.5132C105.823 10.5183 103.89 10.0295 101.461 10.0295C98.6337 10.0295 96.3078 11.079 94.4903 13.1888C92.6881 15.2769 91.7761 17.8885 91.7761 21.0108C91.7761 24.3708 92.5987 27.0065 94.2351 28.9527C95.8671 30.8989 98.158 31.8654 101.119 31.8654C104.08 31.8654 106.316 31.0581 107.843 29.4261L106.1 26.3999C104.972 27.8225 103.414 28.5338 101.424 28.5338C99.6744 28.5338 98.2911 27.8683 97.2373 26.5439C96.1987 25.2195 95.6816 23.4304 95.6816 21.17C95.6816 18.9096 96.2424 17.0507 97.366 15.5823C98.494 14.0943 99.9384 13.3612 101.697 13.3612C103.558 13.3612 104.904 13.7801 105.742 14.618L107.285 11.5154L107.28 11.5132ZM123.915 31.5098V28.1781H114.363V10.3786H110.61V31.5098H123.917H123.915ZM125.68 20.7751C125.68 24.2137 126.433 26.9192 127.947 28.8938C129.463 30.8705 131.641 31.8654 134.484 31.8654C137.573 31.8654 139.951 30.8705 141.627 28.8654C143.316 26.8646 144.153 24.1701 144.153 20.7751C144.153 17.3758 143.342 14.7445 141.74 12.8572C140.139 10.9656 137.82 10.0295 134.774 10.0295C132.014 10.0295 129.808 11.0703 128.147 13.1583C126.502 15.2332 125.68 17.7642 125.68 20.7751ZM129.581 20.7751C129.581 18.5147 130.024 16.7147 130.921 15.3751C131.813 14.0398 133.098 13.3612 134.774 13.3612C138.424 13.3612 140.252 15.8376 140.252 20.7751C140.252 25.8261 138.232 28.5338 134.484 28.5338C132.882 28.5338 131.671 27.8552 130.833 26.5046C129.995 25.1497 129.581 23.2341 129.581 20.7751ZM147.21 24.8988C147.21 27.1352 147.876 28.8654 149.2 30.061C150.546 31.2589 152.436 31.8654 154.901 31.8654C157.345 31.8654 159.285 31.2436 160.744 30.0174C162.197 28.7912 162.937 27.0916 162.937 24.9141V10.3808H159.184V24.6283C159.184 27.0479 157.591 28.5359 154.873 28.5359C153.658 28.5359 152.7 28.1716 152.006 27.4668C151.312 26.7621 150.967 25.8348 150.967 24.6981V10.3808H147.215V24.8988H147.21ZM171.675 31.5098C179.006 31.5098 182.676 27.7156 182.676 20.114C182.676 17.1271 181.764 14.7489 179.962 12.9467C178.153 11.1445 175.712 10.2368 172.627 10.2368C171.863 10.2368 169.967 10.2914 166.982 10.3939V31.5098H171.677H171.675ZM170.735 13.671C171.47 13.5969 172.05 13.5663 172.454 13.5663C176.667 13.5663 178.775 15.8332 178.775 20.3453C178.775 22.813 178.243 24.7461 177.158 26.1141C176.083 27.4843 174.597 28.1781 172.699 28.1781C171.989 28.1781 171.339 28.1497 170.733 28.0887V13.6689L170.735 13.671Z" fill="#000000"></path>
										</g>
										<defs>
											<clipPath id="clip0">
												<rect width="184" height="40" fill="white" transform="translate(0 0.581177)"></rect>
											</clipPath>
										</defs>
									</svg>
								</a>
							</div>

							<ul class="langs hidden-991">
								<li>
									<a class="active" href="#">Az</a>
								</li>
								<li>
									<a href="#">En</a>
								</li>
								<li>
									<a href="#">Ru</a>
								</li>
							</ul>
						</div>
						<!-- Left-->

						<div class="right">
							<div class="dropdown langs-dropdown visible-991">
								<button data-toggle="dropdown">Az</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">En</a>
									<a class="dropdown-item" href="#">Ru</a>
								</div>
							</div>

							<ul class="external-links hidden-1200">
								<li>
									<a href="#" target="_blank">Azcloud Enterprise</a>
								</li>
								<li>
									<a href="#" target="_blank">G-Cloud solutions</a>
								</li>
								<li>
									<a href="#" target="_blank">Qiriş / </a>
									<a href="#" target="_blank">Qeydiyyat</a>
								</li>
							</ul>

							<div class="search-toggler">
								<button class="show-search">
									<img src="images/icons/icon-search.svg" alt="Icon search">
								</button>

								<button class="close-search">
									<img src="images/icons/icon-close.svg" alt="Icon times">
								</button>
							</div>

							<div class="menu-toggler flex">
								<button class="bars" aria-label="Hamburger">
									<span></span>
									<span></span>
									<span></span>
								</button>
							</div>
						</div>
						<!-- Right-->
					</div>
				</div>
			</div>
		</header>
		<!-- Header-->

		<div class="side-menu flex">
			<div class="bg-video">
				<video class="lazy" autoplay muted loop playsinline>
					<source data-src="videos/network.mp4" type="video/mp4">
				</video>
			</div>

			<div class="side-menu-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-8 offset-xl-2">
							<div class="row">
								<div class="col-md-3">
									<nav>
										<ul class="menu-links">
											<li class="visible-1200">
												<a href="login.html">Qiriş / </a>
												<a href="register.html">Qeydiyyat</a>
											</li>
											<li class="visible-1200">
												<a class="menu-link" href="index.html">Azcloud Enterprise</a>
											</li>
											<li class="visible-1200">
												<a class="menu-link" href="index.html">G-Cloud solutions</a>
											</li>
											<li>
												<a class="menu-link" href="index.html">Əsas səhifə</a>
											</li>
											<li>
												<a class="menu-link" href="about.html">Haqqımızda</a>
											</li>
											<li>
												<a class="services-link" href="services.html">Xidmətlər</a>
											</li>
											<li>
												<a class="menu-link" href="blog.html">Bloq</a>
											</li>
											<li>
												<a class="menu-link" href="partnership.html">Əməkdaşlıq</a>
											</li>
											<li>
												<a class="menu-link" href="contact.html">Əlaqə</a>
											</li>
										</ul>
									</nav>
								</div>
								<!-- Col-->

								<div class="col-md-9">
									<div class="menu-right-container default">
										<div class="services-flips flex">
											<div class="service-flip">
												<div class="rotator">
													<div class="flip-front">
														<a class="flip-item" href="service-inner.html">
															<span class="title">Bulud infrastrukturu</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">199 AZN-dan<i class="icon-arrow-right"></i></span>
														</a>
													</div>
													<div class="flip-back">
														<div class="flip-bg cover-center" style="background-image: url(images/service-card-bg.jpg)"></div>
														<a class="flip-item" href="service-inner.html">
															<span class="title">Bulud infrastrukturu</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">199 AZN-dan<i class="icon-arrow-right"></i></span>
														</a>
													</div>
												</div>
											</div>
											<!-- Service flip-->

											<div class="service-flip">
												<div class="rotator">
													<div class="flip-front">
														<a class="flip-item" href="service-inner.html">
															<span class="title">Virtual İP telefoniya</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">20 AZN-dan<i class="icon-arrow-right"></i></span>
														</a>
													</div>
													<div class="flip-back">
														<div class="flip-bg cover-center" style="background-image: url(images/service-card-bg.jpg)"></div>
														<a class="flip-item" href="service-inner.html">
															<span class="title">Virtual İP telefoniya</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">20 AZN-dan<i class="icon-arrow-right"></i></span>
														</a>
													</div>
												</div>
											</div>
											<!-- Service flip-->

											<div class="service-flip">
												<div class="rotator">
													<div class="flip-front">
														<a class="flip-item" href="service-inner.html">
															<span class="title">Təhlükəsizlik həlləri</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">980 AZN-dan<i class="icon-arrow-right"></i></span>
														</a>
													</div>
													<div class="flip-back">
														<div class="flip-bg cover-center" style="background-image: url(images/service-card-bg.jpg)"></div>
														<a class="flip-item" href="service-inner.html">
															<span class="title">Təhlükəsizlik həlləri</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">980 AZN-dan<i class="icon-arrow-right"></i></span>
														</a>
													</div>
												</div>
											</div>
											<!-- Service flip-->

											<div class="service-flip">
												<div class="rotator">
													<div class="flip-front">
														<a class="flip-item" href="service-inner.html">
															<span class="title">Rezervlənmə xidməti</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">Ətraflı bax<i class="icon-arrow-right"></i></span>
														</a>
													</div>
													<div class="flip-back">
														<div class="flip-bg cover-center" style="background-image: url(images/service-card-bg.jpg)"></div>
														<a class="flip-item" href="service-inner.html">
															<span class="title">Rezervlənmə xidməti</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">Ətraflı bax<i class="icon-arrow-right"></i></span>
														</a>
													</div>
												</div>
											</div>
											<!-- Service flip-->

											<div class="service-flip">
												<div class="rotator">
													<div class="flip-front">
														<a class="flip-item" href="service-inner.html">
															<span class="title">Microsoft məhsulları</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">Ətraflı bax<i class="icon-arrow-right"></i></span>
														</a>
													</div>
													<div class="flip-back">
														<div class="flip-bg cover-center" style="background-image: url(images/service-card-bg.jpg)"></div>
														<a class="flip-item" href="service-inner.html">
															<span class="title">Microsoft məhsulları</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">Ətraflı bax<i class="icon-arrow-right"></i></span>
														</a>
													</div>
												</div>
											</div>
											<!-- Service flip-->

											<div class="service-flip">
												<div class="rotator">
													<div class="flip-front">
														<a class="flip-item" href="service-inner.html">
															<span class="title">Yerləşdirmə</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">249 AZN-dan<i class="icon-arrow-right"></i></span>
														</a>
													</div>
													<div class="flip-back">
														<div class="flip-bg cover-center" style="background-image: url(images/service-card-bg.jpg)"></div>
														<a class="flip-item" href="service-inner.html">
															<span class="title">Yerləşdirmə</span>
															<span class="subtitle">resurs elastikliyi</span>
															<span class="price">249 AZN-dan<i class="icon-arrow-right"></i></span>
														</a>
													</div>
												</div>
											</div>
											<!-- Service flip-->
										</div>
										<!-- Services flips-->

										<div class="services-grid flex">
											<div class="service-card">
												<div class="service-card__bg">
													<img src="images/service-card-bg.jpg" alt="Service thumb">
												</div>
												<div class="service-card__body">
													<span class="title">Compute</span>
													<span class="subtitle">resurs elastikliyi</span>

													<ul class="service-categories">
														<li data-toggle="tooltip" title="Public IPs">
															<a href="service-compute.html">ACS</a>
														</li>
														<li data-toggle="tooltip" title="Public IPs">
															<a href="service-compute.html">AVPG</a>
														</li>
														<li data-toggle="tooltip" title="Public IPs">
															<a href="service-compute.html">ASG</a>
														</li>
													</ul>
												</div>
											</div>
											<!-- Service card-->

											<div class="service-card">
												<div class="service-card__bg">
													<img src="images/service-card-bg.jpg" alt="Service thumb">
												</div>
												<div class="service-card__body">
													<span class="title">Storage</span>
													<span class="subtitle">resurs elastikliyi</span>

													<ul class="service-categories">
														<li data-toggle="tooltip" title="Public IPs">
															<a href="service-storage.html">asb</a>
														</li>
														<li data-toggle="tooltip" title="Public IPs">
															<a href="service-storage.html">asf</a>
														</li>
														<li data-toggle="tooltip" title="Public IPs">
															<a href="service-storage.html">aso</a>
														</li>
													</ul>
												</div>
											</div>
											<!-- Service card-->

											<div class="service-card">
												<div class="service-card__bg">
													<img src="images/service-card-bg.jpg" alt="Service thumb">
												</div>
												<div class="service-card__body">
													<span class="title">Network</span>
													<span class="subtitle">resurs elastikliyi</span>

													<ul class="service-categories">
														<li data-toggle="tooltip" title="Public IPs">
															<a href="service-network.html">AVPS</a>
														</li>
														<li data-toggle="tooltip" title="Public IPs">
															<a href="service-network.html">ASG</a>
														</li>
														<li data-toggle="tooltip" title="Public IPs">
															<a href="service-network.html">AP-I</a>
														</li>
														<li data-toggle="tooltip" title="Public IPs">
															<a href="service-network.html">ALB-A</a>
														</li>
														<li data-toggle="tooltip" title="Public IPs">
															<a href="service-network.html">ADD</a>
														</li>
													</ul>
												</div>
											</div>
											<!-- Service card-->
										</div>
										<!-- Services grid-->
									</div>
								</div>
								<!-- Col-->
							</div>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Side menu body-->
		</div>
		<!-- Side menu-->

		<div class="search-block">
			<div class="bg-video">
				<video class="lazy" autoplay muted loop playsinline>
					<source data-src="videos/network.mp4" type="video/mp4">
				</video>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<div class="search-form">
							<form action="#" method="GET">
								<div class="form-group">
									<label for="search-field">Search</label>
									<input class="form-control" type="text" id="search-field" placeholder="Search" autocomplete="off">
								</div>
								<button class="submit-search" type="submit">
									<img src="images/icons/icon-search-white.svg" alt="Icon search">
								</button>
								<div class="search-examples hidden-991">
									<span>Ex.</span>
									<a href="https://localhost:8080?q=servers">Servers</a>
									<a href="https://localhost:8080?q=datacenters">Datacenters</a>
									<a href="https://localhost:8080?q=video-konfrans">Video konfrans</a>
									<a href="https://localhost:8080?q=ip-telefoniya">IP telefoniya</a>
								</div>
							</form>
						</div>
						<!-- Search form-->
					</div>
				</div>
			</div>
		</div>
		<!-- Site search-->

		<main class="content">
			<section class="page">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-8 offset-xl-2">
							<div class="page-header">
								<h1 class="page-title">Search results</h1>
							</div>

							<div class="search-form v2">
								<form action="#" method="GET">
									<div class="form-group">
										<label for="search-field">Search</label>
										<input class="form-control" type="text" id="search-field" value="Service" autocomplete="off">
									</div>
									<button class="submit-search" type="submit">
										<img src="images/icons/icon-search.svg" alt="Icon search">
									</button>
									<div class="search-count">
										<p>12 items found</p>
									</div>
								</form>
							</div>
							<!-- Search form-->

							<div class="search-results">
								<div class="load-container">
									<div class="search-result">
										<p class="label">Service</p>
										<a class="value" href="service-inner.html" target="_blank">Bulud infrastrukturu</a>
									</div>

									<div class="search-result">
										<p class="label">Blog</p>
										<a class="value" href="blog-inner.html" target="_blank">İT infrastrukturu yaratmaqda kömək</a>
									</div>

									<div class="search-result">
										<p class="label">Page</p>
										<a class="value" href="partnership.html" target="_blank">Əməkdaşlıq</a>
									</div>

									<div class="search-result">
										<p class="label">Page</p>
										<a class="value" href="contact.html" target="_blank">Əlaqə</a>
									</div>

									<div class="search-result">
										<p class="label">Service</p>
										<a class="value" href="service-inner.html" target="_blank">Bulud infrastrukturu</a>
									</div>

									<div class="search-result">
										<p class="label">Blog</p>
										<a class="value" href="blog-inner.html" target="_blank">İT infrastrukturu yaratmaqda kömək</a>
									</div>

									<div class="search-result">
										<p class="label">Page</p>
										<a class="value" href="partnership.html" target="_blank">Əməkdaşlıq</a>
									</div>

									<div class="search-result">
										<p class="label">Page</p>
										<a class="value" href="contact.html" target="_blank">Əlaqə</a>
									</div>

									<div class="search-result">
										<p class="label">Service</p>
										<a class="value" href="service-inner.html" target="_blank">Bulud infrastrukturu</a>
									</div>

									<div class="search-result">
										<p class="label">Blog</p>
										<a class="value" href="blog-inner.html" target="_blank">İT infrastrukturu yaratmaqda kömək</a>
									</div>
								</div>
								<!-- Load container-->

								<div class="load-more">
									<a class="btn btn-primary" href="#">Load more results</a>
								</div>
							</div>
							<!-- Search results-->
						</div>
					</div>
				</div>
				<!-- Container fluid-->

				<div class="have-question ptb-11">
					<div class="bg-video">
						<video class="lazy" autoplay muted loop playsinline>
							<source data-src="videos/network.mp4" type="video/mp4">
						</video>
					</div>

					<div class="container-fluid">
						<div class="row">
							<div class="col-xl-8 offset-xl-2">
								<div class="inner flex">
									<p>Остались какие-либо вопросы? Мы рады помочь ответить на них!</p>
									<a class="btn btn-white" href="contact.html">Müraciət et</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="azcloud-azintelecom">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xl-8 offset-xl-2">
								<div class="row">
									<div class="col-lg-6">
										<div class="logos">
											<img src="images/azcloud-logo.svg" alt="Logo azcloud">
											<a href="#" target="_blank">
												<img src="images/azintelecom-logo.svg" alt="Logo azintelecom"></a>
										</div>
									</div>
									<!-- Col-->

									<div class="col-lg-6">
										<div class="text">
											<p>SEO text. İnfrastrukturunuza uyğunlaşan və biznes artımını idarə etməyə imkan verən resurs elastikliyi. İnfrastrukturunuza uyğunlaşan və biznes artımını idarə etməyə imkan verən resurs elastikliyi</p>
										</div>
									</div>
									<!-- Col-->
								</div>
							</div>
							<!-- Col-->
						</div>
					</div>
				</div>
				<!-- Azcloud / aztelecom (seo)-->
			</section>
			<!-- Search page-->
		</main>

		<button class="to-top hidden-991" aria-label="Scroll top">
			<i class="icon-arrow-up"></i>
		</button>

		<footer>
			<div class="footer-top">
				<div class="wave-texture bottom-right"></div>

				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-8 offset-xl-2">
							<div class="row">
								<div class="col-lg-6">
									<div class="footer-contacts">
										<p class="label">Əlaqə</p>
										<table>
											<tr>
												<td><strong>Ünvan:</strong></td>
												<td>
													<p>Əlibəy Hüseynzadə 74 AZ1009, Bakı, Azərbaycan</p>
												</td>
											</tr>
											<tr>
												<td><strong>Telefon: </strong></td>
												<td>
													<p>(+99412) 200 0020</p>
												</td>
											</tr>
											<tr>
												<td><strong>E-mail:</strong></td>
												<td>
													<p>sales@azсloud.az</p>
												</td>
											</tr>
										</table>
										<ul class="socials">
											<li>
												<a href="https://linkedin.com" rel="noreferrer" target="_blank">
													<i class="icon-linkedin"></i>
												</a>
											</li>
											<li>
												<a href="https://youtube.com" rel="noreferrer" target="_blank">
													<i class="icon-youtube-play"></i>
												</a>
											</li>
											<li>
												<a href="https://facebook.com" rel="noreferrer" target="_blank">
													<i class="icon-facebook"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- Col-->

								<div class="col-lg-6">
									<div class="row">
										<div class="col-sm-6">
											<div class="footer-links">
												<p class="label">Sitemap</p>
												<ul>
													<li>
														<a href="index.html">Əsas səhifə</a>
													</li>
													<li>
														<a href="about.html">Haqqımızda</a>
													</li>
													<li>
														<a href="services.html">Xidmətlər</a>
													</li>
													<li>
														<a href="blog.html">Blog</a>
													</li>
													<li>
														<a href="partnership.html">Əməkdaşlıq</a>
													</li>
													<li>
														<a href="contact.html">Əlaqə</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- Col-->

										<div class="col-sm-6">
											<div class="footer-links">
												<p class="label">Xidmətlər</p>
												<ul>
													<li>
														<a href="service.html">Bulud infrastrukturu</a>
													</li>
													<li>
														<a href="service.html">Virtual İP telefoniya</a>
													</li>
													<li>
														<a href="service.html">Təhlükəsizlik həlləri</a>
													</li>
													<li>
														<a href="service.html">Rezervlənmə xidməti</a>
													</li>
													<li>
														<a href="service.html">Microsoft məhsulları</a>
													</li>
													<li>
														<a href="service.html">Yerləşdirmə</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- Col-->
									</div>
									<!-- Row-->
								</div>
								<!-- Col-->
							</div>
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Footer top-->

			<div class="footer-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-8 offset-xl-2">
							<p>All right reserved 2020<img src="images/icons/icon-hexagon-footer.svg" alt="Hexagon">Made with love</p>
						</div>
					</div>
				</div>
			</div>
			<!-- footer bottom-->
		</footer>

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/swiper.min.js"></script>
		<script type="text/javascript" src="js/sticky.js"></script>
		<script type="text/javascript" src="js/yall.js"></script>
		<script type="text/javascript" src="js/nice-select.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/blog.js"></script>
		<script type="text/javascript" src="js/service.js"></script>
		<script type="text/javascript" src="js/calculator.js"></script>
	</body>

</html>
